{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Your Shopping Cart</h1>
            <hr>
        </div>
    </div>

    
    <div class="row">
        <!-- Cart items table -->
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="py-3">
                            <div class="d-flex align-items-center">
                                <div class="cart-item-image me-3">
                                    {% if item.book.image %}
                                    <img src="{{ item.book.image.url }}" alt="{{ item.book.title }}" class="img-fluid" style="max-width: 100px;">
                                    {% else %}
                                    <div class="book-image-container" style="width: 80px; height: 120px;">
                                        <span class="book-image-placeholder">Book Image</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <h6 class="mb-1">{{ item.book.title }}</h6>
                                    <p class="small text-muted mb-0">{{ item.book.author }}</p>
                                </div>
                            </div>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-sm qty_input" type="number" 
                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    <button class="btn btn-sm btn-outline-dark update-link" 
                                        data-item_id="{{ item.item_id }}">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.book.price | floatformat:2 }}</p>
                        </td>
                        <td class="py-3">
                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}