{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- Main Content -->
<div class="container py-2">
    <!-- Hero Image/Content Section -->
    <div class="text-center my-3">
        <h2>Discover Your Next Book</h2>
        <p class="lead mb-4 fs-5">Explore our carefully curated collection of books from various genres.</p>

        <!-- Search Bar -->
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-8 col-lg-6">
                <form method="GET" action="#" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search by title, author...">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}