{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>My Profile</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Sidebar Nav -->
         <div class="col-12 col-md-3">
            <div class="list-group">
                <a href="{% url 'profile' %}" class="list-group-item">
                    Personal Information
                </a>
                <a href="#" class="list-group-item">
                    Order History
                </a>
                <button type="button" class="list-group-item" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                    Delete Account
                </button>
            </div>
         </div>

         <!-- Main Content -->
         <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for=""></label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for=""></label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for=""></label>
                                <input type="text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
</div>