{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center">Sign In</h2>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                {% if form.erros %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> Please correct the errors below.
                </div>
                {% endif %}

                <!-- Email -->
                <div class="mb-3">
                    <label for="id_login" class="form-label">Email*</label>
                    <input type="text" name="login" id="id_login" class="form-control" placeholder="E-mail address" required>
                    {% if form.login.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.login.errors %}
                                {{ errors }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password*</label>
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                    {% if form.login.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.login.errors %}
                                {{ errors }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Remember me -->
                <div class="mb-3">
                    <input type="checkbox" name="remember" id="id_remember" class="form-check-input">
                    <label for="id_remember" class="form-check-label">Remember Me</label>
                </div>

                <!-- Django allauth redirection -->
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <!-- Submit Button -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark w-100">Sign In</button>
                </div>

                <!-- Forgot Password -->
                <div class="text-center">
                    <p>
                        <a href="{% url 'account_reset_password'%}">Forgot Password?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}