{% extends "base.html"%}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card">
                <h2 class="text-center">Sign Out</h2>

                <p class="text-center">Are you sure you want to sign out?</p>

                <form method="POST" action="{% url 'account_logout' %}">
                    {% csrf_token %}

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark">Sign Out</button>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}