{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center">Create Account</h2>
            <form action="{% url 'account_signup' %}" class="signup" id="signup_form" method="post">
                {% csrf_token %}

                {% if form.erros %}
                <div class="alert">
                    <strong>Error:</strong> Please correct the erros below.
                </div>
                {% endif %}

                <!-- First Name -->
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name*</label>
                    <input type="text" name="first_name" id="id_first_name" class="form-control" required>
                </div>
                
                <!-- Last Name -->
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name*</label>
                    <input type="text" name="last_name" id="id_last_name" class="form-control" required>
                </div>

                <!-- Email Address-->
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email Adress*</label>
                    <input type="email" name="email" id="id_email" class="form-control" required>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}