{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center">Create Account</h2>
            <form action="{% url 'account_signup' %}" class="signup" id="signup_form" method="post">
                {% csrf_token %}

                {% if form.erros %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> Please correct the erros below.
                </div>
                {% endif %}

                <!-- First Name -->
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name*</label>
                    <input type="text" name="first_name" id="id_first_name" class="form-control" required placeholder="First Name">
                </div>
                
                <!-- Last Name -->
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name*</label>
                    <input type="text" name="last_name" id="id_last_name" class="form-control" required placeholder="Last Name">
                </div>

                <!-- Email Address -->
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email Adress*</label>
                    <input type="email" name="email" id="id_email" class="form-control" required placeholder="E-mail address">
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label for="id_password1" class="form-label">Password*</label>
                    <input type="email" name="password1" id="id_password1" class="form-control" required placeholder="Password">
                    {% if form.password1.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}    
                </div>

                <!-- Confirm Password -->
                <div class="mb-3">
                    <label for="id_password2" class="form-label">Password*</label>
                    <input type="email" name="password2" id="id_password2" class="form-control" required placeholder="Password (again)">
                    {% if form.password2.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}    
                </div>

                <!-- Terms and Conditions -->
                <div class="mb-3">
                    <input type="checkbox" name="terms" id="id_terms" class="form-check-input" required>
                    <label for="id_terms" class="form-check-label">I agree to the Terms and Conditions*</label>
                </div>

                <!-- Django allauth redirection -->
                 {% if redirect_field_value %}
                 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <!-- Submit button -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark w-100">Sign Up</button>
                </div>

                <!-- Social Login -->
                 <div class="mb-3">
                    <a href="{% url 'socialaccount_signup' %}" class="btn btn-outline-dark w-100">Sign In with Google</a>
                 </div>

                 <!-- Login Link -->
                  <p class="text-center">
                    Already have an account?<a href="{{ login_url }}">
                        <br>Login
                    </a>
                  </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}