{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row mt-5">
    <!-- Book Image -->
    <div class="col-md-5 mb-4">
      <div class="card">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.title }}">
        {% else %}
            <div class="card text-center">
                <div class="book-image-container">
                    <span class="book-image-placeholder">Book Image</span>
                </div>
            </div>
        {% endif %}    
      </div>
    </div>

    <!-- Book Info -->
     <div class="col-md-7">
        <h1 class="book-title"></h1>
        <p class="text-muted"></p>

        {% if product.rating %}
        <div class="rating mb-2">
            <span class="badge"></span>
        </div>
        {% endif %}
     </div>
  </div>
</div>
