<!-- Toast container that uses message categorization -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    <!-- Shopping-related success messages with cart preview -->
    {% for message in shopping_messages %}
        {% if message.level == 25 %}
            {% include 'includes/toasts/toast_success_shopping.html' %}
        {% elif message.level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
        {% elif message.level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
        {% else %}
            {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
    {% endfor %}
    
    <!-- Other success messages (regular toasts) -->
    {% for message in other_messages %}
        {% if message.level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
        {% elif message.level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
        {% elif message.level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
        {% else %}
            {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
    {% endfor %}
</div>